@font-face {
    font-family: fontSpartan;
    src: url(./fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf)
}

body {
    background-color: hsl(180, 52%, 96%);
    font-family: fontSpartan;
}

#topHeader {
    background-color:hsl(185, 52%, 77%);
}

#logo {
    padding: 10px;
    width: 25%;
    height: 95px;
    margin-left: 25px;
    margin-right: 0px;

}

.jobRows {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 4px 5px 2px rgb(0 0 0 / 18%);
}
.details{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;  
    width: 25%;
    margin-left: 0px;
}

#companyName {
    color: hsl(185, 53%, 46%);
    font-weight: 500;
}

#position {
    font-family:fontSpartan;
    font-weight: 800;
    /* height: 30px;
    width: 145px; */
    height: 50%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.data-role {
    background-color: blueviolet;
}
.filterTags {
    display: flex;
    justify-content: right;
    height: 100%;
    width: 75%;  
    margin: 10px 40px;
}
.filterTags > span {
    display: flex;
    flex-direction:column;
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 42%, 44%);
    padding: 5px;
    margin: 8px;
}

.otherDetails {
    display: flex;
    color: grey;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    margin-top: 10px;
    margin-left: -30px;
    padding:0px;
    
}

.otherDetails > li {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin:2px;
    padding: 2px;
}

#new {
    color: white;
    font-family: fontSpartan;
    font-size: small;
    background-color: hsl(180, 29%, 50%);
    text-transform: uppercase;  
    border-radius: 25px;
    padding-bottom:2px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 5px;  
}

#featured {
    background-color:  hsl(180, 8%, 52%);
    border-radius: 25px ;
    color: white;
    text-transform: uppercase;
    font-size: small;
    padding: 5px;
    padding-bottom: 3px;
    margin-left: 5px;

}

.result {
    visibility: visible;
}

.hidden {
    display: none;
}

.rowContainer {
    display: flex;
    flex-direction: column;
}

.filter  {
    display: flex;
    flex-direction: left;
}

.clearButton {
    background-color: hsl(180, 52%, 96%);
    color: hsl(185, 53%, 46%);
    border: none;

}

